apiVersion: apps/v1
kind: Deployment
metadata:
  name: nodemarker
  namespace: system
  labels:
    component: nodemarker
    app.kubernetes.io/name: nodemarker
    app.kubernetes.io/instance: nodemarker
    app.kubernetes.io/component: nodemarker
    app.kubernetes.io/created-by: nodemarker
    app.kubernetes.io/part-of: nodemarker
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    matchLabels:
      control-plane: nodemarker
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: nodemarker
      labels:
        component: nodemarker
        control-plane: nodemarker
        app: nodemarker
    spec:
      containers:
      - command:
        - /nodemarker
        args:
        - "--loglevel=debug"
        - "--namespace=$(NAMESPACE)"
        - "--webhookmode=enabled"
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: router:latest
        imagePullPolicy: IfNotPresent
        name: nodemarker
        ports:
          - containerPort: 9443
            name: webhook-server
            protocol: TCP
        readinessProbe:
          httpGet:
            path: /readyz
            port: webhook-server
            scheme: HTTPS
        livenessProbe:
          httpGet:
            path: /healthz
            port: webhook-server
            scheme: HTTPS
        resources:
          limits:
            cpu: 500m
            memory: 128Mi
          requests:
            cpu: 10m
            memory: 64Mi
        volumeMounts:
        - name: cert
          mountPath: /tmp/k8s-webhook-server/serving-certs
          readOnly: true
      serviceAccountName: controller
      volumes:
        - name: cert
          secret:
            defaultMode: 420
            secretName: openpe-webhook-server-cert
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/control-plane
        operator: Exists
