# Default values for openperouter.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

nameOverride: ""
fullnameOverride: ""

rbac:
  # create specifies whether to install and use RBAC rules.
  create: true

openperouter:
  # -- Controller log level. Must be one of: `debug`, `info`, `warn` or `error`.
  logLevel: info
  tolerateMaster: true
  # -- If true, all pods (router, controller, and nodemarker) are allowed to run on master/control-plane nodes
  runOnMaster: true
  # -- Multus network annotation to be added to router pods
  multusNetworkAnnotation: ""
  image:
    repository: quay.io/openperouter/router
    tag: ""
    pullPolicy: ""
  ## ref: https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/
  ##
  updateStrategy:
    ## StrategyType
    ## Can be set to RollingUpdate or OnDelete
    ##
    type: RollingUpdate
  serviceAccounts:
    # Specifies whether the ServiceAccounts should be created
    create: true
    # The names of the ServiceAccounts to use. If not set and create is
    # true, a name is generated using the fullname template
    controller:
      name: ""
    perouter:
      name: ""
    annotations: {}
  tolerations: []
  priorityClassName: ""
  affinity: {}
  ## Selects which runtime class will be used by the pod.
  runtimeClassName: ""
  podAnnotations: {}
  labels: {}
  controller:
    resources: {}
  nodemarker:
    resources: {}
  # frr contains configuration specific to the perouter FRR container,
  frr:
    image:
      repository: quay.io/frrouting/frr
      tag: 10.2.1
      pullPolicy: ""
    resources: {}
    reloader:
      resources: {}
  cri: "containerd" # cri to bind its socket, can be containerd or crio.

webhook:
  enabled: true

crds:
  enabled: true
  validationFailurePolicy: Fail
