apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  creationTimestamp: null
  name: openperouters.openpe.openperouter.github.io
spec:
  group: openpe.openperouter.github.io
  names:
    kind: OpenPERouter
    listKind: OpenPERouterList
    plural: openperouters
    singular: openperouter
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: OpenPERouter is the Schema for the openperouters API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: OpenPERouterSpec defines the desired state of OpenPERouter
            properties:
              logLevel:
                description: |-
                  Define the verbosity of the controller and the router logging.
                  Allowed values are: all, debug, info, warn, error, none. (default: info)
                enum:
                - all
                - debug
                - info
                - warn
                - error
                - none
                type: string
              multusNetworkAnnotation:
                description: MultusNetworkAnnotation specifies the Multus network
                  annotation to be added to the router pod.
                type: string
              runOnMaster:
                default: true
                description: 'RunOnMaster determines if all pods (router, controller,
                  and nodemarker) will run on master/control-plane nodes. (default:
                  true)'
                type: boolean
            type: object
          status:
            description: OpenPERouterStatus defines the observed state of OpenPERouter
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: null
  storedVersions: null
