---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: underlays.openpe.openperouter.github.io
spec:
  group: openpe.openperouter.github.io
  names:
    kind: Underlay
    listKind: UnderlayList
    plural: underlays
    singular: underlay
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Underlay is the Schema for the underlays API.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: UnderlaySpec defines the desired state of Underlay.
            properties:
              asn:
                description: ASN is the local AS number to use for the session with
                  the TOR switch.
                format: int32
                maximum: 4294967295
                minimum: 1
                type: integer
              evpn:
                properties:
                  vtepcidr:
                    description: VTEPCIDR is CIDR to be used to assign IPs to the
                      local VTEP on each node.
                    type: string
                required:
                - vtepcidr
                type: object
              neighbors:
                description: Neighbors is the list of external neighbors to peer with.
                items:
                  description: Neighbor represents a BGP Neighbor we want FRR to connect
                    to.
                  properties:
                    address:
                      description: Address is the IP address to establish the session
                        with.
                      type: string
                    asn:
                      description: ASN is the AS number to use for the local end of
                        the session.
                      format: int32
                      maximum: 4294967295
                      minimum: 1
                      type: integer
                    bfd:
                      description: BFD defines the BFD configuration for the BGP session.
                      properties:
                        detectMultiplier:
                          description: |-
                            Configures the detection multiplier to determine
                            packet loss. The remote transmission interval will be multiplied
                            by this value to determine the connection loss detection timer.
                          format: int32
                          maximum: 255
                          minimum: 2
                          type: integer
                        echoInterval:
                          description: |-
                            Configures the minimal echo receive transmission
                            interval that this system is capable of handling in milliseconds.
                            Defaults to 50ms
                          format: int32
                          maximum: 60000
                          minimum: 10
                          type: integer
                        echoMode:
                          description: |-
                            Enables or disables the echo transmission mode.
                            This mode is disabled by default, and not supported on multi
                            hops setups.
                          type: boolean
                        minimumTtl:
                          description: |-
                            For multi hop sessions only: configure the minimum
                            expected TTL for an incoming BFD control packet.
                          format: int32
                          maximum: 254
                          minimum: 1
                          type: integer
                        passiveMode:
                          description: |-
                            Mark session as passive: a passive session will not
                            attempt to start the connection and will wait for control packets
                            from peer before it begins replying.
                          type: boolean
                        receiveInterval:
                          description: |-
                            The minimum interval that this system is capable of
                            receiving control packets in milliseconds.
                            Defaults to 300ms.
                          format: int32
                          maximum: 60000
                          minimum: 10
                          type: integer
                        transmitInterval:
                          description: |-
                            The minimum transmission interval (less jitter)
                            that this system wants to use to send BFD control packets in
                            milliseconds. Defaults to 300ms
                          format: int32
                          maximum: 60000
                          minimum: 10
                          type: integer
                      type: object
                    connectTime:
                      description: Requested BGP connect time, controls how long BGP
                        waits between connection attempts to a neighbor.
                      type: string
                      x-kubernetes-validations:
                      - message: connect time should be between 1 seconds to 65535
                        rule: duration(self).getSeconds() >= 1 && duration(self).getSeconds()
                          <= 65535
                      - message: connect time should contain a whole number of seconds
                        rule: duration(self).getMilliseconds() % 1000 == 0
                    ebgpMultiHop:
                      description: EBGPMultiHop indicates if the BGPPeer is multi-hops
                        away.
                      type: boolean
                    holdTime:
                      description: |-
                        HoldTime is the requested BGP hold time, per RFC4271.
                        Defaults to 180s.
                      type: string
                    hostasn:
                      description: |-
                        ASN is the expected AS number for a BGP speaking component running in
                        the default network namespace. If not set, the ASN field is going to be used.
                      format: int32
                      maximum: 4294967295
                      minimum: 0
                      type: integer
                    keepaliveTime:
                      description: |-
                        KeepaliveTime is the requested BGP keepalive time, per RFC4271.
                        Defaults to 60s.
                      type: string
                    password:
                      description: |-
                        Password to be used for establishing the BGP session.
                        Password and PasswordSecret are mutually exclusive.
                      type: string
                    passwordSecret:
                      description: |-
                        PasswordSecret is name of the authentication secret for the neighbor.
                        the secret must be of type "kubernetes.io/basic-auth", and created in the
                        same namespace as the perouter daemon. The password is stored in the
                        secret as the key "password".
                        Password and PasswordSecret are mutually exclusive.
                      type: string
                    port:
                      description: |-
                        Port is the port to dial when establishing the session.
                        Defaults to 179.
                      maximum: 16384
                      minimum: 0
                      type: integer
                  required:
                  - address
                  type: object
                  x-kubernetes-validations:
                  - message: hostASN must be different from asn for eBGP
                    rule: '!has(self.hostasn) || self.hostasn != self.asn'
                minItems: 1
                type: array
              nics:
                description: |-
                  Nics is the list of physical nics to move under the PERouter namespace to connect
                  to external routers. This field is optional when using Multus networks for TOR connectivity.
                items:
                  maxLength: 15
                  pattern: ^[a-zA-Z][a-zA-Z0-9._-]*$
                  type: string
                type: array
              routeridcidr:
                default: 10.0.0.0/24
                description: RouterIDCIDR is the ipv4 cidr to be used to assign a
                  different routerID on each node.
                type: string
            required:
            - asn
            type: object
          status:
            description: UnderlayStatus defines the observed state of Underlay.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
