---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: l3passthroughs.openpe.openperouter.github.io
spec:
  group: openpe.openperouter.github.io
  names:
    kind: L3Passthrough
    listKind: L3PassthroughList
    plural: l3passthroughs
    singular: l3passthrough
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: |-
          L3Passthrough represents a session with the host which is not encapsulated and
          takes part to the bgp fabric.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              hostsession:
                description: HostSession is the configuration for the host session.
                properties:
                  asn:
                    description: |-
                      ASN is the local AS number to use to establish a BGP session with
                      the default namespace.
                    format: int32
                    maximum: 4294967295
                    minimum: 1
                    type: integer
                  hostasn:
                    description: |-
                      ASN is the expected AS number for a BGP speaking component running in
                      the default network namespace. If not set, the ASN field is going to be used.
                    format: int32
                    maximum: 4294967295
                    minimum: 0
                    type: integer
                  localcidr:
                    description: |-
                      LocalCIDR is the CIDR configuration for the veth pair
                      to connect with the default namespace. The interface under
                      the PERouter side is going to use the first IP of the cidr on all the nodes.
                      At least one of IPv4 or IPv6 must be provided.
                    properties:
                      ipv4:
                        description: |-
                          IPv4 is the IPv4 CIDR to be used for the veth pair
                          to connect with the default namespace. The interface under
                          the PERouter side is going to use the first IP of the cidr on all the nodes.
                        type: string
                      ipv6:
                        description: |-
                          IPv6 is the IPv6 CIDR to be used for the veth pair
                          to connect with the default namespace. The interface under
                          the PERouter side is going to use the first IP of the cidr on all the nodes.
                        type: string
                    type: object
                    x-kubernetes-validations:
                    - message: LocalCIDR can't be changed
                      rule: self == oldSelf
                required:
                - asn
                - hostasn
                - localcidr
                type: object
              nodeSelector:
                description: |-
                  NodeSelector specifies which nodes this L3Passthrough applies to.
                  If empty or not specified, applies to all nodes.
                  Multiple L3Passthrough with overlapping node selectors will be rejected.
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: |-
                        A label selector requirement is a selector that contains values, a key, and an operator that
                        relates the key and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
            type: object
          status:
            description: L3PassthroughStatus defines the observed state of L3Passthrough.
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
